<h1>New Entry</h1>

<form method="post" action="/entries">
  <input type="hidden" name="place_id" value="<%= @place_id %>">

  <label>Title</label><br>
  <input type="text" name="title"><br><br>

  <label>Date</label><br>
  <input type="date" name="occurred_on"><br><br>

  <label>Description</label><br>
  <textarea name="description"></textarea><br><br>

  <button>Create Entry</button>
</form>